* {
    margin: 0;
    text-decoration:  none;
  }

  .topBarContainer {
    height: 50px;
    width: 100%;
    background-color: #344966;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topBarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
    cursor: pointer;
  }
  
  .topBarCenter {
    flex: 5;
  }
  
  .searchBar {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    border: none;
    width: 70%;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topBarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    color: white;
    font-size: 13px;
  }
  
  
  .topBarLink {
    margin-right: 10px;
    cursor: pointer;
  }
  .topBarLink {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
  }
  
  
  .topBarIcons {
    display: flex;
  }
  
  .topBarIconItem {
    margin-right: 15px;
    cursor: pointer;
    color: white;
    position: relative;
  }
  
  .topBarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    
  }
  
  .wrapper{
    padding: 10px;
    background-color: #4F5D69    ;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
  }

  .wrapper h1{
    font-size: 46px;
  }
  .wrapper span{
    font-size: 16px;
    margin: 10px 0px;
  }
  .wrapper p{
    font-size: 20px;
    margin: 10px 0px;
  }