.header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-color: #344966;
    align-items: center;
  }
  .headertitle{
    text-decoration: none;
    color: white;
  }
  .header h2{
    color: var(--backgroundColor);
    font-size: 2rem;
  }
  .header button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    background-color: var(--backgroundColor);
    color: var(--assentColor);
  }

 .heading{
  color: white;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 50px;
 }
